/* Branding */
.branding__logo {
  width: 50px;
}


/* Music search area */
.music-search {
  width: 730px;
  margin: 0 auto;
  text-align: center;
}
.music-search__title {
  font-size: 3em;
}
.music-search__meta {
  font-weight: 200;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.music-search__input {
  border: 1px solid #d6d6d6;
  padding: 10px;
  width: 100%;
  outline: 0;
}
.music-search__submit {
  color: #fff;
  border: 0;
  padding: 10px 20px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(0,0,0,0.8);
}


/* Album list */
.album-list {
  list-style: none;
  text-align: left;
}
.album-list__item {
  width: 50%;
  float: left;
  font-weight: 300;
  position: relative;
  background-color: #fff;
  a {
    display: flex;
    padding: 15px;
    -webkit-align-items: stretch;
    align-items: stretch;
    border-right: 1px solid #dfdfdd;
    border-bottom: 1px solid #dfdfdd;
  }
}
.album-list__name {
  padding: 0 20px 0 15px;
}
.album-list__favorite {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
}
